li {
  list-style-type: none;
  padding: 10px;
  background-color: #FFF8DC;
  border: 2px solid white;
  font-size: 18px;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  top: 15px;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.completed {
  text-decoration: line-through;
}

ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode span {
  display:none;
}

span {
  padding-right: 10px;
}