li {
  list-style-type: none;
  padding: 10px 0px;
  background-color: blue;
}
/*li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}*/
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
